@model AHBC_SampleLab_eCommerce.Models.Inventory

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm(new { ID = ViewData["ID"] }))
{

<dl class="dl-horizontal">
    <dt>
        @Html.LabelFor(model => model.Quantity):
    </dt>
    <dd>
        @Html.EditorFor(model => model.Quantity)
    </dd>
</dl>
        <button type="submit">Order</button>
  }
